ul.breadcrumb li + li::before {
  content: "\276F";
  padding-left: 8px;
  padding-right: 4px;
  color: inherit;
}

ul.breadcrumb li span {
  opacity: 60%;
}

#sidebar {
  -webkit-transition: all 300ms cubic-bezier(0, 0.77, 0.58, 1);
  transition: all 300ms cubic-bezier(0, 0.77, 0.58, 1);
}

#sidebar.show {
  transform: translateX(0);
}

#sidebar ul li a.active {
  background: #1f2937;
  background-color: #1f2937;
}
